<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Admin</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/select/1.5.0/css/select.bootstrap5.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.datatables.net/rowreorder/1.3.1/js/dataTables.rowReorder.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.3.1/css/rowReorder.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css">
</head>

<body class="sb-nav-fixed">

  <%- include('../partials/admin-header')%>
    <div id="la">

      <div id="layoutSidenav_content" class="container-fluid">

      
        

        <div class="container-fluid px-4">
          <h1 class="mt-4 text-center" style="background-color: #c5c5c5; padding-top: 15px;padding-bottom: 15px;">Order</h1>
          <a href="/exportorder"><button type="button" class="btn btn-dark mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Downlod csv
          </button></a>
        </div>
        
       
<div class="container-fluid">
  <% if(order!=null) { %>


    <table id="example" class="table table-bordered table-striped ">
      <thead>
        <tr>
          <!-- <th>No.</th> -->
          <th>Data</th>
          <th>User</th>
          <th>paymentType</th>
          <th>Status</th>
          <th>items</th>
          <th>Total</th>

         
          
         
          
          


        </tr>
    </thead>
    <tbody>
      <% order.forEach((orderData)=>{ %>
        <%let date =orderData.date %>
              <%let isoString = date.toISOString()%>
              <%let newDate = isoString.split('T')[0]%>
             
        <tr>
          <td> <%=newDate%></td>
          <td><%=orderData.addresses[0].name%></td>
          <td><%=orderData. payment%></td>
          
          <td> 
            <form action="/orderstatus" method="post" class="d-flex ">
            <select class="form-select form-select-lg mb-3 " name="select" aria-label=".form-select-lg example" style="width: 200px; " >
              <option selected><%=orderData. status%></option>
              <option value="cancel">Cancel</option>
              <option value="shipping">Shipping</option>
              <option value="Placed">Placed</option>
              <option value="delivered">Delivered</option>
              <input type="text" name="proid" value="<%=orderData._id%>"  class="d-none">

            </select>
            <button class=" btn btn-dark mx-2"  style="height: 50px; padding-top: 10px;" type="submit"  >Update</button>
          </form>
        </td>
         
          <td><%=orderData.product.length%></td>
          <td ><%=orderData.total%> </td>
         


        </tr>
        <%})%>
</tbody>
<%}%>

</div>
        </div>

      </div>
    
    
    <script>
      $(document).ready(function () {
        var table = $('#example').DataTable({
          rowReorder: {
            selector: 'td:nth-child(2)'
          },
          responsive: true
        });
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>