
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/public/stylesheet/css/productccss.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    
  <%- include('../partials/admin-header')%>
    <div id="h">
      <div class="container-fluid px-4">
        <h1 class="mt-4">User data</h1> 
        
  </div>
      <div class="card mb-4">
        
        <div class="card-body">
            <% if(userdatashow!=null) { %>
            <table id="datatablesSimple">
                <thead>
                    <tr>
                       
                        <th>Name</th> 
                        <th>Email</th> 
                        
                        <th>Phone</th>
                        <th>Status</th>
                        
                      
                        


                    </tr>
                </thead>
                <tfoot>
                    <tr>
                       
                        <th>Name</th>
                        <th>Email</th>
                        
                        <th>phone</th>
                        <th>Status</th>
                        
                        </th>

                    </tr>
                </tfoot>
                <tbody>
                    <% userdatashow.forEach((productData)=>{ %>
                  <tr>
                    <td><%=productData.name%></td>
                    <td><%=productData.email%></td>
                    
                    <td><%=productData.phone%></td>
                   
                    
                  

                    <td>    
                      <% if(productData.status==true) {%>
                          <a class="btn btn-warning btn-sm" href="/userdatablock?id=<%= productData._id%>" role="button">Block</a>
                      <%}else{%>
                          <a class="btn btn-success btn-sm" href="/userdatablock?id=<%= productData._id%>" role="button">Unblock</a>
                      <%}%>
                      </td>

                    
                  </tr>
                  <%})%>
                </tbody>
            </table>
            <%}%>

        </div>
      </div>
      <footer class="py-4 bg-light mt-auto">
        
      </footer>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/public/javascript/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/public/assets/demo/chart-area-demo.js"></script>
    <script src="/public/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/public/javascript/js/datatables-simple-demo.js"></script>
</body>

</html>











