














<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/public/stylesheet/css/productccss.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    
    <%- include('../partials/admin-header')%>
    <div id="la">
      
        <div id="layoutSidenav_content" class="container-fluid">
            
              <div class="container-fluid px-4">
                    <h1 class="mt-4">Product Management</h1> 
                    <button type="button" class="btn btn-dark mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Add Product
                    </button>
              </div>
<!-- add product -->

              <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Add Products</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/adminproducts" method="post"  enctype="multipart/form-data">
                            <div class="form-group">
                              
                              <label for="exampleFormControlInput1">Name</label>
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" name="name">
                              <label for="exampleFormControlInput1">Category</label>
                              <!-- <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Category" name="category">  -->
                                <select name="category" class="form-control" id="exampleFormControlInput1">
                                  <% catData.forEach((item)=>{

                                    %><option ><%=item.name%></option><%
                                  })%>
                                </select>
                              <label for="exampleFormControlInput1">Description</label>
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Description" name="description">
                              <label for="exampleFormControlInput1">Stock</label>
                              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Stock" name="quantity">
                              <label for="exampleFormControlInput1">Price</label>
                              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Price" name="price">
                              <label for="file-upload" class="form-label">Images to upload</label>
                              <input class="form-control" type="file"  name="image" multiple>
                              
                            </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </div>
                  </div>
                </div>
              </div>





              <!-- edit product -->


           



              <div class="modal fade " id="staticBackdro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Edit Products</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      

                      <form action="/adminproductedit" method="post"  enctype="multipart/form-data">
                      
                        <div class="form-group">
                          
                          <label for="exampleFormControlInput1">Name</label>
                          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" name="name" >
                          <label for="exampleFormControlInput1">Category</label>
                          <!-- <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Category" name="category">  -->
                          <select name="category" class="form-control" id="exampleFormControlInput1">
                            <% catData.forEach((item)=>{

                              %><option ><%=item.name%></option><%
                            })%>
                            
                        
                          </select>
                          
                          <label for="exampleFormControlInput1">Description</label>
                          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Description" name="description">

                          <!-- <label for="exampleFormControlInput1"> Status</label>

                          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="status" name="status"> -->



                          <label for="exampleFormControlInput1">Stock</label>
                          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Stock" name="quantity">
                          <label for="exampleFormControlInput1">Price</label>
                          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Price" name="price">
                          <label for="file-upload" class="form-label">Images to upload</label>
                          <input class="form-control" type="file"  name="image">
                          
                        </div>
                      
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
              
                </form>



                    </div>
                  </div>
                </div>
              </div>
              <!-- ebd -->
              
            
              <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Product Data Table 
                </div>
               
               
                <div class="card-body">
                    <% if(product!=null) { %>
                    <table id="datatablesSimple">
                        <thead>
                          
                            <tr>
                                <!-- <th>No.</th> -->
                                <th>Name</th> 
                                <th>Category</th> 
                                
                                <th>discription</th>
                                <th>Status</th>
                                <th>stock</th>
                                <th>price</th>
                             
                                <!-- <th>Delete</th> -->
                                <th>Edit</th>
                                <th>Image</th>


                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <!-- <th>No.</th> -->
                                <th>Name</th>
                                <th>Category</th>
                                
                                <th >description</th>
                                <th>Status</th>
                                <th>stock</th>
                                <th>price</th>

                                <th>Image</th>
                                </th>

                            </tr>
                        </tfoot>
                        <tbody>
                          <% for (let i = 0; i < product.length ; i++) { %>
                          <tr >
                         
                            <td><%=product[i].name%></td>
                            <td><%=product[i].category%></td>
                            
                            <td ><%=product[i].description%></td>
                            
                            <td>    
                              <% if(product[i].status==true) {%>
                                  <a class="btn btn-warning btn-sm" href="/adminproductsshow?id=<%= product[i]._id%>" role="button">unlist</a>
                              <%}else{%>
                                  <a class="btn btn-success btn-sm" href="/adminproductsshow?id=<%= product[i]._id%>" role="button">list</a>
                              <%}%>
                   </td>
                            <td><%=product[i].quantity%></td>
                            <td><%=product[i].price%></td>

                           
                           
                           
<td>
  <div class="container-fluid px-4">
              
    <button type="button" class="btn btn-dark mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdro">
        <a class="btn btn-dark btn-sm" href="/adminproductgetid?id=<%= product[i]._id%>" role="button">EDIT</a>
    </button>
</div>
 <td><img src="/public/databaseimg/<%=product[i].image[0]%>" style="width:50px;height:50px;"></td>
</td>





                          </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <%}%>
                   

                     
                  
                </div>
            </div>
            <footer class="py-4 bg-light mt-auto">
              
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/public/javascript/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/public/assets/demo/chart-area-demo.js"></script>
    <script src="/public/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/public/javascript/js/datatables-simple-demo.js"></script>
    
</body>

</html>



































