<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

  

<%- include('../partials/admin-header')%>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.5.0/css/select.bootstrap5.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.3.1/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.3.1/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css">
<body >
  <div class="container-fluid ">
    <h1 class="mt-4 text-center " style="background-color: #c5c5c5; padding-top: 15px;padding-bottom: 15px;">Product</h1>
    <button type="button" class="btn btn-dark mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Add Product
    </button>
  </div>
  <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add Products</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>


        <div class="modal-body">
          <form action="/adminproducts" method="post" enctype="multipart/form-data">
            <div class="form-group">

              <label for="exampleFormControlInput1">Name</label>
              <input type="text" required class="form-control" id="exampleFormControlInput1" placeholder="Name" name="name">
              <label for="exampleFormControlInput1">Category</label>
              <select name="category" class="form-control" id="exampleFormControlInput1">
                <% catData.forEach((item)=>{

                  %><option>
                    <%=item.name%>
                  </option>
                  <% })%>
              </select>
              <label for="exampleFormControlInput1">Description</label>
              <input type="text" class="form-control" required id="exampleFormControlInput1" placeholder="Description"
                name="description">
              <label for="exampleFormControlInput1">Stock</label>
              <input type="number" class="form-control"required id="exampleFormControlInput1" placeholder="Stock"
                name="quantity">
              <label for="exampleFormControlInput1">Price</label>
              <input type="number" class="form-control" required id="exampleFormControlInput1" placeholder="Price" name="price">
              <label for="file-upload" class="form-label">Images to upload</label>
              <input class="form-control" type="file" name="image" multiple>

            </div>
        </div>




        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- edit product -->






  <div class="modal fade " id="staticBackdro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Edit Products</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <form action="/adminproductedit" method="post" enctype="multipart/form-data">

            <div class="form-group">

              <label for="exampleFormControlInput1">Name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" required placeholder="Name" name="name">
              <label for="exampleFormControlInput1">Category</label>
            
              <select name="category" class="form-control" id="exampleFormControlInput1">
                <% catData.forEach((item)=>{

                  %><option>
                    <%=item.name%>
                  </option>
                  <% })%>


              </select>

              <label for="exampleFormControlInput1">Description</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" required placeholder="Description"
                name="description">





              <label for="exampleFormControlInput1">Stock</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" required placeholder="Stock" name="quantity">
              <label for="exampleFormControlInput1">Price</label>
              <input type="text" class="form-control" id="exampleFormControlInput1"required placeholder="Price" name="price">
              <label for="file-upload" class="form-label">Images to upload</label>
              <input class="form-control" type="file" name="image" multiple>

            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
    
              </form>
            </div>
        </div>
        



        </div>
      </div>
    </div>
  </div>
  <!-- ebd -->



  <div class="container-fluid "  >
    <% if(product!=null) { %>
      <table id="example" class="table table-bordered table-striped ">
        <thead>

          <tr>
            <!-- <th>No.</th> -->
            <th>Name</th>
            <th>Category</th>

            <th>Status</th>
            <th>stock</th>
            <th>price</th>
            
            <!-- <th>Delete</th> -->
            <th>Edit</th>
            <th>Image</th>
            <th style="width: 100px;">discription</th>


          </tr>
        </thead>

        <tbody>    
             


          <%     if(product[0].image == null){%>
<p>hai</p>
          <%}else{%>

          
          <% for (let i=0; i < product.length ; i++) { %>
            <tr>

              <td>
                <%=product[i].name%>
              </td>
              <td>
                <%=product[i].category%>
              </td>

             

              <td>
                <% if(product[i].status==true) {%>
                  <a class="btn btn-warning btn-sm" href="/adminproductsshow?id=<%= product[i]._id%>"
                    role="button">unlist</a>
                  <%}else{%>
                    <a class="btn btn-success btn-sm" href="/adminproductsshow?id=<%= product[i]._id%>"
                      role="button">list</a>
                    <%}%>
              </td>
              <td>
                <%=product[i].quantity%>
              </td>
              <td>
                <%=product[i].price%>
              </td>




              <td>
                <div class="container-fluid px-4">

                  <button type="button" class="btn btn-dark mb-2" data-bs-toggle="modal"
                    data-bs-target="#staticBackdro">
                    <a class="btn btn-dark btn-sm" href="/adminproductgetid?id=<%= product[i]._id%>"
                      role="button">EDIT</a>
                  </button>
                </div>
              </td>

              <td><img src="<%=product[i].image[0].url%>" style="width:50px;height:50px;"></td>

              <td style="width: 100px;">
                <%=product[i].description%>
              </td>



            </tr>
            <% } %>
            <%}%>
           

        </tbody>
      </table>
      <%}%>




  </div>
  <script>
    $(document).ready(function () {
      var table = $('#example').DataTable({
        rowReorder: {
          selector: 'td:nth-child(2)'
        },
        responsive: true
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="/public/javascript/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/public/assets/demo/chart-area-demo.js"></script>
    <script src="/public/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/public/javascript/js/datatables-simple-demo.js"></script> -->
</body>

</html>