<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Godox</title>
</head>
<style>@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');</style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body>
  <%- include('../partials/user-header')%>
  <div class="container-fluid " style= "text-shadow: 3px 3px #ffffff8e;background-color:#dddddd; font: bolder; font-family: 'Bebas Neue', cursive; font-size: 500;  letter-spacing: 10px;" >
    <div class="row my-5 py-5">
      <h1 class="text-center">CHECK OUT</h1>
    </div>
   </div>
    <div class="container px-5 pb-5 my-5" style="border-radius: 35px;
    background: #ffffff;
    box-shadow:  14px 14px 28px #afafaf,
             -14px -14px 28px #ffffff;">
        <div class="py-5 text-center">
         </div>
         
      
        <div class="row">
          <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">Your cart</span>
              <span class="badge badge-secondary badge-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
              
              <li class="list-group-item d-flex justify-content-between lh-condensed">
            

                <div class="w-100">
                  <%for(let i=0;i< usercart.cartItems.length;i++){%>
                  <div class="d-flex justify-content-between">
                    <span class="text-muted"><%=usercart.cartItems[i].productId.name%></span>
                  <div class="text-muted " style="float: right; " >$<%=usercart.cartItems[i].productId.price%></div>
                  </div>
                    <%}%>
                </div>
               
              </li>
             
             
             
              <li class="list-group-item d-flex justify-content-between">
                <span>Total (USD)</span>
                <strong>$<%=usercart.totalPrice%></strong>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Discount Total (USD)</span>
                
                <span>$<span id="discount"><%=usercart.totalPrice%></span></span>
              </li>
            </ul>
            <form class="card p-2">
              <div class="input-group">
                <input type="text" class="form-control" id="couponCode" placeholder="Promo code">
                <div class="input-group-append">
                  <button  class="btn btn-secondary" id="coupon_button" onclick="couponapplied()">Redeem</button>
                </div>
              </div>
            </form>
            <h6 class="text-danger p-1 " id="message"></h6>

          </div>


          <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Shipping address</h4>
            <form class="needs-validation" novalidate action="/checkoutdata" method="post">
                <!-- <span>$<section value="total"  id="discount"><%=usercart.totalPrice%></section></span> -->
              <input type="text" name="total"  id="discoun"  value=" <%=usercart.totalPrice%>" hidden>
              <div class="row">
                <div class="mb-3">

                      <select  class="custom-select d-block w-100 py-2" onchange=" setaddress(this.value)">
                        <option value="">Select an option</option>
                        <%for(let i=0;i< useraddress.addresses.length;i++){%>
                          <option value="<%=useraddress.addresses[i]._id%>"   ><%=useraddress.addresses[i].address%></option>
                      
                        <%}%>  
                      </select>
                       
                      <!-- </select> -->
                  </div>
                <div class="col-md-6 mb-3">
                  <label for="firstName">Name</label>
                  <input type="text" class="form-control" name="name" id="name" placeholder="Name" value="" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
               
              </div>
      
             
      
              <div class="mb-3">
                <label for="email">Mobile number <span class="text-muted"></span></label>
                <input type="email" class="form-control" name="mobile" id="mobno" required placeholder="Enter your mobile number">
                <div class="invalid-feedback">
                  Enter your mobile number
                </div>
              </div>
      
              <div class="mb-3">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Enter your address"  name="address" required>
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>
      
             
      
              <div class="row">
                
                <div class="col-md-3 mb-3">
                  <label for="zip">Zip</label>
                  <input type="text" class="form-control"  id="zip" placeholder="" name="zip" required>
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div>
             
              <hr class="mb-4">
      
              <h4 class="mb-3">Payment</h4>
      
              <div class="d-block my-3">
                <div class="custom-control custom-radio">
                  <input id="credit" name="paymentMethod" value="COD" type="radio" class="custom-control-input" checked required>
                  <label class="custom-control-label" for="credit">COD</label>
                </div>

                <div class="custom-control custom-radio">
                  <input id="paypal" name="paymentMethod" type="radio" value="PayPal"class="custom-control-input" required>
                  <label class="custom-control-label" for="paypal">PayPal</label>
                </div>
              </div>
           
             
              <hr class="mb-4">
              <button class="btn btn-dark btn-lg btn-block" type="submit">Continue to Pay</button>
            </form>
          </div>
        </div>
       
 
  
        <!-- Input field to display the selected color -->
    </div>
  
  <script>
    function setaddress(id){
    $.ajax({
        url:'/checkoutform',
        method:'post',
        data : {
            addresId : id
        },
        success:(response)=>{
            $("#name").val(response.data[0].name);
            $("#mobno").val(response.data[0].phone);
            $("#address").val(response.data[0].address);
            $("#zip").val(response.data[0].pincode);
            
            
            }

    })
}
  </script>
  <script>
  
    function couponapplied(){
    event.preventDefault();
    var inputValue = $("#couponCode").val();
    $.ajax({
      method: "post",
      url: "/couponcheck",
      data: { inputValue },
      success: (res)=> {
        let b=res.dis
        let msg=res.msg
        $('#message').html(msg)
        $('#discount').html(b)
        $('#discoun').val(b)
      }

    })
    }

  </script>
  
  <!-- ajax -->
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    


  <!-- ajaxclose -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>
<div class="container-fluid">
  <div class="row">
    <%- include('../partials/user-footer')%>

  </div>
</div>

