<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Godox</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />


<body>
  <style>
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      background: #fafafa;
      padding: 0;

    }

    h1 {
      text-align: center;
    }

    .container {
      width: 80%;
      margin: 0 auto;
    }

    /********************************/
    .product-item {
      margin-bottom: 10px;
      text-align: center;
      border: 1px solid #f5f5f5;
      border-bottom: 2px solid #f5f5f5;
      background: white;
      transition: 0.4s linear;
    }

    .product-item:hover {
      border-bottom: 2px solid #1a1a1a;
    }

    .product-item:hover .button {
      background: #2c2c2c;
    }

    .product-item img {
      display: block;
      height: auto;
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
    }

    .product-list {
      padding: 15px 0;
    }

    .product-list h3 {
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 400;
      color: #444444;
      margin: 0 0 10px 0;
    }

    .price {
      font-family: "Open Sans";
      font-size: 16px;
      color: #1d1d1d;
      display: block;
      margin-bottom: 12px;
    }

    .button {
      font-family: "Open Sans";
      display: inline-block;
      padding: 1px 12px 0;
      margin: 0 auto;
      background: #252525;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
      font-size: 12px;
      line-height: 28px;
      transition: 0.4s linear;
    }

    /***********способ 2*******************/
    .columns:after {
      content: "";
      display: table;
      clear: both;
    }

    .columns .product-item {
      width: 31.333%;
      float: left;
      margin: 0 1% 2%;
    }

    @media (max-width: 768px) {
      .container {
        width: 100%;
      }

      .columns .product-item {
        width: 48%;
      }
    }

    @media (max-width: 500px) {
      .columns .product-item {
        width: 98%;
        float: none;
      }
    }

    /* search */
    .searchinput {
      padding: 0.5%;

      border-radius: 10px;
      width: 25%;
      background-color: #242424;
      margin-bottom: 2%;
      margin-top: 2%;
      color: #f5f5f5;
    }

    ::placeholder {
      color: #f5f5f5;
    }

    .productimage {
      height: 1000px;
    }
  </style>

  <%- include('../partials/user-header')%>




    <div  class="text-center w-100 d-flex justify-content-center align-items-center">
      <input onkeyup="searchval(this.value)" type="text" name="search" id="searchval" class="searchinput" required placeholder="Search" style="min-width: 100px;" />

     
    </div>



    <div class="container columns" style="min-height: 64.7vh ;">
      <div class="filter-sort d-flex justify-content-between m-2">
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            FILTER
          </button>
          <ul class="dropdown-menu">
            <% if(categorylist!=null){%>
              <%categorylist.forEach((category)=>{%>
                <%if(category.status===true){%>

                  <li>
                    <button class="text-dark bg-white border-0 text-center " onclick="getCategory('<%=category.name%>')">
                      <%=category.name%>
                    </button>

                  </li>
                  <%}%>
                    <% })%>
                      <%}%>
          </ul>
        </div>
        <button onclick="clearFilter()"  type="submit" class="btn btn-none bg-dark text-light">
          VIEW ALL
        </button>
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            SORT
          </button>
          <ul class="dropdown-menu">
            <li>
              <button class="text-dark bg-white border-0 text-center " onclick="getsort('asort')">Price -- High to Low</button>
            </li>
            <li>
              <button class="text-dark bg-white border-0 text-center " onclick="getsort('dsort')">Price -- Low to High</button>

            </li>
          </ul>
        </div>
      </div>


      <%if(productdata.length !=0){%>
        <p style="display: flex; justify-content: center;"></p>
        <%} else{%>
          <div class="errordiv" style="height:20.5vh;">
            <h4 class=" d-flex justify-content-center mt-5 text-danger"> NO PRODUCT FOUND</h4>
  
          </div>
  
          <%}%>


      <div id="product333" class="container-fluid">
      <% for (let i=0; i < productdata.length ; i++) { %>
        <%if(productdata[i].status===true){%>


          <div   class="product-item productimag px-2 pt-2" style="border-radius: 20px ;
      background: #e0e0e0;
      box-shadow:  9px 9px 18px #a4a4a4,
                   -9px -9px 18px #ffffff;">
            <h4 class="bi bi-heart-fill text-dark p-1" style="float: right;"
              onclick="addwishlist('<%=productdata[i]._id%>')"></h4>
            <img src="<%=productdata[i].image[0].url%> " height="100px" class="rounded-4">


            <div class="product-list">
              <h3>
                <%=productdata[i].name%>
              </h3>
              <span class="price">$<%=productdata[i].price%></span><a href="/singleproduct?id=<%=productdata[i]._id%>"
                class="button">View Product</a>

            </div>
          </div>
          <% } %>


            <%}%>
          </div>
          
    </div>
  

    <div class="pagnition">
      
      <div class="col-md-12 d-flex justify-content-around" id="pageloader">

        <nav id="thePageChanger" aria-label="Page navigation example "
          class="border-dark d-flex justify-content-center">
          <% if (pages> 0) { %>
            <ul id="1100" class="pagination text-center rounded ">
              <% if (current==1) { %>
                <li id="2200" class="disabled p-3 btn btn-dark border rounded"><a style="color: white;">First</a></li>
                <% } else { %>
                  <li id="3300" class="p-3 btn btn-dark border rounded"><a style="color: white;" onclick="pageButton(1)">First</a>
                  </li>
                  <% } %>
                    <% var i=(Number(current)> 5 ? Number(current) - 4 : 1) %>
                      <% if (i !==1) { %>
                        <li id="4400" class="disabled btn p-3 border rounded btn-dark"><a style="color: white;">...</a></li>
                        <% } %>
                          <% for (; i <=(Number(current) + 4) && i <=pages; i++) { %>
                            <% if (i==current) { %>
                              <li id="5500" class=" btn active p-3 border rounded btn-dark"><a style="color: white;">
                                  <%= i %>
                                </a></li>
                              <% } else { %>


                                <li id="6600" class="btn p-3 btn-dark border rounded"><a style="color: white;"
                                    onclick="pageButton('<%= i %>')">
                                    <%= i %>
                                  </a></li>

                                <% } %>
                                  <% if (i==Number(current) + 4 && i < pages) { %>
                                    <li id="7700" class="btn disabled p-3 btn-dark border rounded"><a style="color: white;">...</a></li>
                                    <% } %>
                                      <% } %>
                                        <% if (current==pages) { %>
                                          <li id="8800" class="btn disabled p-3 btn-dark border rounded"><a style="color: white;">Last</a></li>
                                          <% } else { %>
                                            <li id="9900" class="btn p-3 btn-dark border rounded"><a style="color: white;"
                                                onclick="pageButton('<%= pages %>')">Last</a></li>
                                            <% } %>
            </ul>
            <% } %>


        </nav>
      </div>
    </div>


    
    <script>
      var product

      function pageButton(catId) {

        $.ajax({
          url: "/pagination",
          method: "patch",
          data: { cat: catId },
          success: (res) => {
            console.log(res)

            $('#product333').load(location.href + ' #product333')
            $('#pageloader').load(location.href + ' #pageloader')
          }

        })
      }
    </script>
    
        
          <div class="container-fluid">
            <div class="row">
              <%- include('../partials/user-footer')%>
            </div>
          </div>
          <script>
            function addwishlist(productId) {
              $.ajax({
                url: "/wishlistdat?productId=" + productId,
                method: 'get',
                success: (response) => {
                  if (!response.email) {

                    alert('Please login')
                  }

                  else if (response.productAlreadyExist) {
                    alert('Product exists')

                  }
                  else {
                    alert('Product added to Wishlist')
                  }

                }
              })
            }
          </script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>





          <script>

            function getCategory(catname) {

              $.ajax({
                url: "/catfilter",
                method: "patch",
                data: { category: catname },
                success: (res) => {
                    $('#product333').load(location.href + ' #product333')
                    $('#pageloader').load(location.href + ' #pageloader')
                     }

              })

            }

          </script>

<script>
function getsort(sort) {

  $.ajax({
    url: "/shop",
    method: "patch",
    data: { sort: sort },
    success: (res) => {
        $('#product333').load(location.href + ' #product333')
        $('#pageloader').load(location.href + ' #pageloader')
        }

  })

}

</script>

<script>
  function clearFilter() {
  
    $.ajax({
      url: "/clear",
      method: "patch",
      data: { sort: 'clear' },
      success: (res) => {
          $('#product333').load(location.href + ' #product333')
          $('#pageloader').load(location.href + ' #pageloader')
           }
  
    })
  
  }
  
  </script>
  


<script>
  
  function searchval(value){
  event.preventDefault();
  
  $.ajax({
    method: "patch",
    url: "/search",
    data: { search : value },
    success: (res)=> {
      $('#product333').load(location.href + ' #product333')
      $('#pageloader').load(location.href + ' #pageloader')
    }

  })
  }

</script>

</body>

</html>